:root {
  --roc: "roc-grotesk", sans-serif;
  --space: "Space Grotesk", sans-serif;

  --fontsize-1: 0.7vw; /* navigation */
  --fontsize-2: 0.9vw; /* chapter heads */
  --fontsize-4: 2vw; /* welcome */
  --fontsize-3: 3vw; /* headlines */

  --fontsize-5: 1vw;
  --fontsize-6: 1.1vw;

  --letter-spacing-3: 0.025em;
  --letter-spacing-4: 0.04em;

  --color-1: lightgray;
  --color-2: black;
  --color-3: white;

  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
  /* border: 1px solid red; */
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 2vw);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0vw);
  }
}

p.in-view {
  animation: fadeAnimation 1s 0.2s both;
}

p.not-in-view {
  opacity: 0;
}

hr {
  margin: 0px;
}

@keyframes lineAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

hr.in-view {
  animation: lineAnimation 1s 1s both;
}

hr.not-in-view {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.project-img {
  margin: 0;
  padding: 0;
  width: 35vw;
  /* animation: fade-img linear;
  animation-timeline: view(block 100% 0%); */
}

@keyframes fade-img {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    margin-top: 5vh;
  }

  100% {
    opacity: 1;
  }
}

#overlay-font {
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: var(--roc);
  font-size: 4vw;
  font-weight: 500;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  margin: 3vw 7vw 0 7vw;
  position: fixed;
  width: 85.9%;
  animation: schriftGroesse 1s 0.7s forwards;
}

@keyframes schriftGroesse {
  0% {
    font-size: 4vw; /* Start-Schriftgröße */
    color: white;
    letter-spacing: 0.045em;
    margin-bottom: 200px;
  }
  100% {
    font-size: var(--fontsize-2); /* End-Schriftgröße */
    color: black;
    letter-spacing: 0.045em;
    margin-bottom: 0px;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1); /* Startfarbe: Schwarz */
  z-index: 1000; /* Stelle sicher, dass das Overlay über allen anderen Elementen liegt */
  display: block;
  animation: fadeOut 1s 0.7s forwards; /* Verzögere die Animation um 5 Sekunden und animiere dann den Übergang von Schwarz zu Transparent über 2 Sekunden */
}

@keyframes fadeOut {
  0% {
    background-color: rgba(0, 0, 0, 1); /* Startfarbe: Schwarz */
  }
  100% {
    background-color: rgba(0, 0, 0, 0); /* Endfarbe: Transparent */
  }
}

.blur {
  width: 100vw;
  height: 8vw;
  left: 0;
  position: fixed;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 98;
  -webkit-mask: linear-gradient(0deg, transparent, black 50%);
}

#animiertesDiv {
  height: 30px;
  /* background-color: blue; */
  animation: divAnimation 1.5s forwards; /* CSS-Animation mit Dauer und Effekten */
}

@keyframes divAnimation {
  from {
    height: 100vh;
  }
  to {
    height: 0;
  }
}

/* CSS-Regeln für den Übergang der Opazität */
.transition-opacity {
  transition: opacity 0.5s ease;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
header {
  margin: 0px 7vw 0px 7vw;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul,
h1,
p {
  padding: 0;
}

h1 {
  margin: 0;
}

/* die lis sind nur für das Burgermenü */
li {
  list-style: none;
}

.off-screen-menu {
  display: none;
}

nav {
  display: none;
}

.ham-menu {
  /* display: none; */
}

.navigation {
  font-family: var(--roc);
  font-size: var(--fontsize-1);
  text-transform: uppercase;
  gap: 3.2vw;
  display: flex;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  left: 2vw;
  text-decoration: none;
  height: 10.6em;
  z-index: 1000;
}

.chapter {
  display: flex;
  justify-content: space-between;
  text-align: end;
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: var(--letter-spacing-4);
  margin: 0;
  text-transform: uppercase;
  color: white;
}

hr {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title-section {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
}

span {
  display: inline-block;
  vertical-align: top;
  height: 0.75em;
  line-height: 0.75em;
}

.title-text {
  margin-top: 20vw;
  margin-bottom: 2vw;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 3.2vw;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  z-index: 4;
  position: relative;
  line-height: 15vw;
  opacity: 0;
  animation: line-heightAnimation 1.5s forwards; /* CSS-Animation mit Dauer und Effekten */
}

@keyframes line-heightAnimation {
  0% {
    line-height: 12vw;
    opacity: 0;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    line-height: 4vw;
    opacity: 1;
  }
}

.title-text .title-1 {
  margin: 0;
}

.title-text .title-2,
.title-text .title-3 {
  margin: 0;
}

.title-text .title-2 {
  margin-left: 33.9vw;
  display: inline-block;
}

.title-text .title-3 {
  margin-left: 0vw;
}

.title-text .title-4 {
  margin: 0;
  margin-left: 29.3vw;
}

.title-text .title-5 {
  margin: 0;
  margin-left: 0vw;
}

.title-text .title-6 {
  margin-left: 44.2vw;
  display: block;
}

.title-img {
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 3;
}

.sofia-img {
  z-index: 1;
  right: 8.5vw;
  width: 11vw;
  height: auto;
  object-fit: contain;
  margin-bottom: 30vh;
  animation: sofia-img-fadein 1.5s forwards; /* CSS-Animation mit Dauer und Effekten */
}

@keyframes sofia-img-fadein {
  from {
    margin-bottom: 30vh;
  }
  to {
    margin-bottom: 0vh;
  }
}

.first-line {
  width: 100%;
  margin-top: 20vw;
  margin-bottom: 7vw;
  /* animation: line linear;
  animation-timeline: view(block 0% 0%); */
}

@keyframes line {
  60% {
    width: 100%;
  }

  0% {
    width: 0%;
  }
}

#i-am-sofia {
  width: 7.5vw;
  height: auto;
  z-index: 3;
  transform: translate(20%, 75%);
}

#some-of-my-designs {
  display: none;
  width: 10vw;
  height: auto;
  z-index: 3;
  transform: translate(20%, 50%);
}

#click-on-it {
  display: none;
  width: 10vw;
  height: auto;
  z-index: 3;
  transform: translate(20%, 50%);
}
#about-me {
  display: none;
  width: 8vw;
  height: auto;
  z-index: 3;
  transform: translate(30%, 200%);
}
#lets-connect {
  display: none;
  width: 10vw;
  height: auto;
  z-index: 3;
  transform: translate(-10%, 440%);
}

.work-section {
  margin-top: 5vw;
  margin-bottom: 15vw;
}

.headline-chapter {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 0;
  margin-top: 2vh;
  position: relative;
  top: 1px;
  /* animation: fade-text linear;
  animation-timeline: view(block 60% 0%); */
}

.container-img-and-text-one {
  margin: 1.5vw;
}
.container-img-and-text-two {
  margin: 1.5vw;
}
.container-img-and-text-three {
  margin: 1.5vw;
}

.project {
  margin-bottom: -20vw;
  display: flex;
}

.project-text {
  text-align: end;
}

.project-right {
  margin-bottom: -20vw;
  display: flex;
  justify-content: end;
}

.project-text-left {
  text-align: start;
}

.project-rubric {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 2vh;
  position: relative;
  top: 1px;
  /* animation: fade-text linear;
  animation-timeline: view(block 60% 0%); */
}

.proect-description {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  margin: 0;
  position: relative;
  top: 1px;
  /* animation: fade-text linear;
  animation-timeline: view(block 60% 0%); */
}

@keyframes fade-text {
  0% {
    opacity: 0;
    top: 1px;
  }
  10% {
    opacity: 0;
    top: 30px;
  }

  60% {
    opacity: 1;
    top: 1px;
  }
}

.about-section {
  margin-top: 25vw;
  margin-bottom: 20vw;
}

.about-chapter {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.container-about-text {
  display: flex;
  width: 94vw;
}

.spaceholder {
  flex: 0 0 36.5vw; /* Keine Flexibilität, feste Breite von 36.5vw */
}

.about-text {
  flex: 0.7;
}

.about-text-big {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: var(--fontsize-4);
  line-height: 2.6vw;
  letter-spacing: 0.01vw;
  z-index: 3;
  position: relative;
  top: 1px;
  /* animation: fade-text linear;
  animation-timeline: view(block 60% 0%); */
}

.about-text-smal {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  line-height: 1.25vw;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 20px;
  margin-right: 7vw;
  position: relative;
  top: 10px;
  /* animation: fade linear;
  animation-timeline: view(block 60% 0%); */
}

@keyframes fade {
  0% {
    opacity: 0;
    top: 10px;
  }
  10% {
    opacity: 0;
    top: 25px;
  }

  60% {
    opacity: 1;
    top: 10px;
  }
}

footer {
  background-color: black;
  padding: 3.5vw 7vw 3.5vw 7vw;
}

.headline-chapter-white {
  color: white;
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 200;

  margin: 0;
  margin-top: 2vh;
  position: relative;
  top: 1px;
  animation: fade-text linear;
  animation-timeline: view(block 60% 0%);
}

.contact-text {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 0;
  margin-top: 20vh;
}

.socials-1 {
  margin-bottom: 0;
}

.socials a {
  font-size: var(--fontsize-2);
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.arrow {
  width: 0.6vw;
  display: inline-block;
}

.socials a:hover {
  text-decoration: underline;
}

/*---------- mobile M Viewport---------- */

@media (max-width: 1024px) {
  .headline-chapter {
    font-size: 1.2vw;
  }
  .headline-chapter-white {
    font-size: 1.2vw;
  }
}
/*---------- mobile Tablet---------- */

/*---------- mobile S Viewport---------- */

/* overlay font */
@media (max-width: 640px) {
  #overlay-font {
    z-index: 90;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: start;
    font-family: var(--roc);
    font-size: 5vw;
    font-weight: 500;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    margin: 6vw 7vw 0 7vw;
    animation: schriftGroesse 1s 0.7s forwards;
  }

  @keyframes schriftGroesse {
    0% {
      font-size: 5vw; /* Start-Schriftgröße */
      color: white;
      letter-spacing: 0.045em;
    }
    100% {
      font-size: 3vw; /* End-Schriftgröße */
      color: black;
      letter-spacing: 0.04em;
      justify-content: start;
    }
  }

  /* BURGERMENU */

  .off-screen-menu {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    z-index: 100;
  }

  .off-screen-menu.active {
    right: 0;
    z-index: 101;
  }

  .menu-text-work {
    text-decoration: none;
    color: white;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 6.4vw;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    line-height: 9vw;
  }

  .menu-text-about {
    text-decoration: none;
    color: white;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 6.4vw;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    line-height: 50vw;
    transition: 0.7s ease;
  }

  .menu-text-about.active {
    line-height: 20vw;
  }

  .menu-text-contact {
    text-decoration: none;
    color: white;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 6.4vw;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    line-height: 9vw;
  }

  .menu-text {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  nav {
    padding: 1rem;
    display: flex;
    z-index: 101;
    position: fixed;
    right: 3vw;
    top: 0;
  }

  .ham-menu {
    height: 9vw;
    width: 9vw;
    margin-left: auto;
    position: relative;
  }

  .ham-menu span {
    height: 0.5vw;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: white;
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 45%;
    transform: translate(-50%, 50%) rotate(-45deg);
    background-color: white;
  }

  .ham-menu.active {
    animation: line-heightAnimation-menu 13s forwards; /* CSS-Animation mit Dauer und Effekten */
  }

  /* navigation */

  .navigation {
    display: none;
  }

  /* top blur */
  .blur {
    height: 20vw;
    backdrop-filter: blur(3px);
  }
  /* title-text */

  .title-text .title-1 {
    display: inline;
    margin-left: 0vw;
    font-size: 6.4vw;
  }

  .title-text .title-2 {
    display: block;
    margin-left: 0vw;
    font-size: 6.4vw;
    margin-bottom: 3vw;
  }

  .title-text .title-3 {
    display: inline;
    margin-left: 0vw;
    font-size: 6.4vw;
  }

  .title-text .title-4 {
    display: inline;
    margin-left: 1.5vw;
    margin-right: 1vw;
    font-size: 6.4vw;
  }

  .title-text .title-5 {
    display: inline;
    /* margin-left: 1vw; */
    font-size: 6.4vw;
  }

  .title-text .title-6 {
    display: inline;
    margin-left: 0vw;
    margin-right: 1vw;
    font-size: 6.4vw;
  }

  .title-text {
    margin-top: 60vh;
    opacity: 1;
  }

  .title-text span {
    line-height: 50vw;
    animation: line-heightAnimation 1.5s forwards; /* CSS-Animation mit Dauer und Effekten */
  }

  @keyframes line-heightAnimation {
    from {
      line-height: 20vw;
    }
    to {
      line-height: 8vw;
    }
  }

  /* projects */

  .project {
    margin-bottom: -0px;
    display: block;
  }

  .project-text {
    text-align: end;
  }

  .project-right {
    margin-bottom: 0px;
    display: block;
  }

  .project-text-left {
    text-align: start;
  }

  .proect-description {
    font-size: var(--fontsize-2);
    margin: 0;
    margin-bottom: 40px;
  }

  .project-img {
    width: 100%;
  }

  .container-img-and-text-one {
    margin: 0vw;
  }
  .container-img-and-text-two {
    margin: 0vw;
  }
  .container-img-and-text-three {
    margin: 0vw;
  }

  /* IMG */

  .sofia-img {
    z-index: 1;
    margin-bottom: 18.5vw;
    width: 25vw;
    height: auto;
    margin-right: -1.3vw;
    transform: translate(0%, -55%);
  }

  #i-am-sofia {
    width: 20vw;
    height: auto;
    transform: translate(40%, -350%);
  }

  #some-of-my-designs {
    width: 27vw;
    height: auto;
    transform: translate(70%, -590%);
  }

  #click-on-it {
    width: 25vw;
    height: auto;
    transform: translate(60%, -620%);
  }
  #about-me {
    width: 20vw;
    height: auto;
    transform: translate(80%, -690%);
  }
  #lets-connect {
    width: 25vw;
    height: auto;
    transform: translate(60%, -1270%);
  }

  .headline-chapter {
    font-size: 3vw;
    margin-bottom: 4vw;
  }

  .headline-chapter-white {
    font-size: 3vw;
  }

  .project-rubric {
    font-size: 3vw;
  }

  .proect-description {
    font-size: 3vw;
  }

  .container-about-text {
    display: flex;
    width: 83vw;
  }

  .spaceholder {
    display: none;
  }

  .about-text-big {
    font-size: 5.5vw;
    line-height: 6.3vw;
  }

  .about-text-smal {
    font-size: 2.9vw;
    line-height: 3.7vw;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    margin-top: 20px;
    margin-right: 7vw;
    z-index: 3;
    position: relative;
  }

  .contact-text {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    font-size: 1.9vw;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 0;
    margin-top: 8vh;
  }

  .socials-block {
    margin-top: 10vw;
  }

  .socials a {
    font-size: 2.4vw;
    margin-right: 0px;
    display: block;
  }

  .arrow {
    width: 1.6vw;
    display: inline-block;
  }

  footer {
    background-color: black;
    padding: 3.5vw 7vw 3.5vw 7vw;
    height: auto;
    margin-top: 0;
  }

  .contact-text {
    display: block;
    font-size: 2.4vw;
    font-weight: 100;
  }

  .made-by {
    text-align: end;
    margin: 10vw 0 0 0;
  }
}

/* ------------SUBPAGES */

.subpage-main {
  display: flex;
  flex-direction: column;
}

#subpage-overlay-font {
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: var(--roc);
  font-size: 4vw;
  font-weight: 500;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  margin: 3vw 7vw 0 7vw;
  font-size: var(--fontsize-2); /* End-Schriftgröße */
  color: black;
  letter-spacing: 0.045em;
  margin-bottom: 0px;
  position: fixed;
  width: 85.9%;
  z-index: 100;

  animation: subpage-overlay-font 1s 0.1s forwards;
}

@keyframes subpage-overlay-font {
  0% {
    width: 85.9%;
  }
  100% {
    width: 31.9%;
  }
}

#subpage-chapter {
  display: flex;
  justify-content: space-between;
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  font-weight: 500;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  margin: 3vw 7vw 0 7vw;
  position: fixed;
  width: 85.9%;
  z-index: 3;
}

.subpage-title {
  display: flex;
  justify-content: space-between;
  width: 32vw;
  position: fixed;
  margin-top: 10vw;
}

.subpage-title-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--roc);
  height: 38vw;
}

.subpage-title-two {
  font-family: var(--roc);
}

.subpage-headline {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: var(--fontsize-4);
  line-height: 2.6vw;
  letter-spacing: 0.01vw;
  font-weight: 100;
  text-transform: uppercase;
}

.subpage-title-long-text {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  line-height: 1.25vw;
  margin: 0;
  text-align: justify;
  text-align-last: left;
  opacity: 0;
  transform: translateY(1vw);
  animation: fontAnimation 1s 0.4s forwards;
}

.subpage-title-ul {
  margin: 0;
  font-size: var(--fontsize-2);
  opacity: 0;
  transform: translateY(1vw);
  animation: fontAnimation 1s 0.3s forwards;
}

@keyframes fontAnimation {
  0% {
    transform: translateY(1vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0vw);
    opacity: 1;
  }
}

.subpage-images {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 3vw;
  opacity: 0;
  position: relative;
  z-index: 10000;
  animation: imagesAnimation 1s 0.1s forwards;
  margin-top: 2vw;
}

@keyframes imagesAnimation {
  0% {
    opacity: 0;
    right: -100vw;
  }
  100% {
    opacity: 1;
    right: -7vw;
  }
}

.supbage-project-img {
  margin: 0;
  padding: 0;
  width: 50vw;
  height: auto;
  margin-bottom: 2vw;
  animation: fade-img linear;
}

.image-container-one {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  /* background-image: url("../img/magazin-mockup-titel_01.png"); */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}

.image-container-two {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/magazin_01.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}

.image-container-three {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/magazin_02.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
.image-container-four {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/Magazin_11.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
.image-container-five {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/Magazin_04.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
.image-container-six {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/Magazin_05.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
.image-container-seven {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/Magazin_06.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
.image-container-eight {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/Magazin_12.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
.image-container-nine {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/Magazin_08.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
.image-container-ten {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/Magazin_09.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
.image-container-eleven {
  width: 55%; /* Vollständige Breite des Elternelements */
  height: 0; /* Höhe auf 0 setzen, um das Seitenverhältnis des Hintergrundbildes zu kontrollieren */
  padding-top: 52%; /* Das Seitenverhältnis des Hintergrundbildes festlegen (1:2, da die Höhe die Hälfte der Breite ist) */
  background-image: url("../img/Magazin_03.png"); /* Pfad zum Bild festlegen */
  background-size: cover; /* Das Bild so skalieren, dass es den Container vollständig ausfüllt */
  background-position: center; /* Das Bild zentrieren */
  margin-bottom: 2vw;
}
/* .image-container-twelve {
  width: 55%;
  height: 0;
  padding-top: 52%; 
  background-image: url("../img/Magazin_11.png"); 
  background-size: cover; 
  background-position: center; 
  margin-bottom: 2vw;
} */

figure {
  margin: 0px;
  /* border: 1px solid red; */
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 2vw);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0vw);
  }
}

figure.in-view {
  animation: fadeAnimation 1s 0.2s both;
}

figure.not-in-view {
  opacity: 0;
}

/*----------SUBPAGE  mobile S Viewport---------- */

@media (max-width: 640px) {
  .subpage-title {
    width: auto;
    position: relative;
  }

  .blur {
    height: 20vw;
    backdrop-filter: blur(3px);
  }

  .subpage-title-one {
    height: auto;
  }

  .subpage-title-ul {
    font-size: 3vw;
    margin-top: 10vw;
  }

  .supbage-project-img {
    width: 100%;
  }

  #subpage-overlay-font {
    font-size: 3vw; /* End-Schriftgröße */
    color: black;
    letter-spacing: 0.04em;
    justify-content: start;
    margin: 6vw 7vw 0 7vw;
    gap: 10px;
    width: 90%;
    animation: none;
    z-index: 1000;
  }

  .subpage-title-long-text {
    margin-top: 10vw;
    font-size: 3vw;
    line-height: 4vw;
    text-align: left;
  }

  .image-container-one {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
    background-image: url("../img/magazin-mockup-titel_01.png");
  }

  .image-container-two {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-three {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-four {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-five {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-six {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-seven {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-eight {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-nine {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-ten {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }
  .image-container-eleven {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 7vw;
  }

  .subpage-images {
    position: static;
    z-index: 1;
  }

  @keyframes fadeAnimation {
    0% {
      opacity: 0;
      transform: translate(0, 4vw);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0vw);
    }
  }

  figure.in-view {
    animation: fadeAnimation 1s 0.2s both;
  }

  figure.not-in-view {
    opacity: 0;
    /* transform: translate(0, -4vw); */
  }
}
