:root {
  --roc: "roc-grotesk", sans-serif;
  --space: "Space Grotesk", sans-serif;

  --fontsize-1: 0.8rem; /* navigation */
  --fontsize-2: 0, 1rem; /* chapter heads, */
  --fontsize-3: 1.7rem; /* headlines */
  --fontsize-4: 1.2rem; /* welcome */

  --letter-spacing-3: 0.025em;
  --letter-spacing-4: 0.04em;

  --color-1: lightgray;
  --color-2: black;
  --color-3: white;

  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* .text-animation {
  position: relative; 
  top: 0; 
  margin: 0;
  padding: 0;
  animation: fade linear;
  animation-timeline: view(block 60% 0%);
}

@keyframes fade {
  0% {
    opacity: 0;
    top: -35px;
  }
  10% {
    opacity: 0;
    top: -35px;
  }
  35% {
    opacity: 0.5;
    top: -35px;
  }
  60% {
    opacity: 1;
    top: 0; 
  }
} */

.magazin-img {
  margin: 0;
  padding: 0;
  animation: fade-img linear;
  animation-timeline: view(block 100% 0%);
}

@keyframes fade-img {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    top: -80px; /* Verschiebe das Element um 10px nach oben */
  }
  100% {
    opacity: 1;
    top: 0; /* Stelle sicher, dass die Position auf 0 bleibt */
  }
}

#overlay-font {
  z-index: 90;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: end;
  font-family: var(--roc);
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 0.045em;
  margin: 0;
  text-transform: uppercase;
  margin: 40px 100px 40px 100px;
  animation: schriftGroesse 1s 2s forwards;
}

@keyframes schriftGroesse {
  0% {
    font-size: 60px; /* Start-Schriftgröße */
    color: white;
    letter-spacing: 0.045em;
  }
  100% {
    font-size: var(--fontsize-2); /* End-Schriftgröße */
    color: black;
    letter-spacing: 0.04em;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1); /* Startfarbe: Schwarz */
  z-index: 10; /* Stelle sicher, dass das Overlay über allen anderen Elementen liegt */
  display: block;
  animation: fadeOut 1s 2s forwards; /* Verzögere die Animation um 5 Sekunden und animiere dann den Übergang von Schwarz zu Transparent über 2 Sekunden */
}

@keyframes fadeOut {
  0% {
    background-color: rgba(0, 0, 0, 1); /* Startfarbe: Schwarz */
  }
  100% {
    background-color: rgba(0, 0, 0, 0); /* Endfarbe: Transparent */
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
header {
  margin: 0px 100px 0px 100px;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navigation {
  font-family: var(--roc);
  font-size: var(--fontsize-1);
  text-transform: uppercase;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  transform: rotate(-90deg);
  top: 45vh;
  left: -80px;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.chapter {
  display: flex;
  justify-content: space-between;
  text-align: end;
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: var(--letter-spacing-4);
  margin: 0;
  text-transform: uppercase;
  color: white;
}

hr {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title-section {
  /* border: 1px solid red; */
  margin-bottom: 20px;
  margin: 0;
  padding: 0;
}

.title-text {
  margin-top: 36vh;
  margin-bottom: 3vw;
  position: relative; /* Stellen Sie sicher, dass die Position relativ ist */
  z-index: 2; /* Setzen Sie eine höhere z-index */
}

.title-text p {
  padding: 0;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  z-index: 3;
}

.title-1 {
  margin: 0;
  margin-top: -16px;
}
.title-2 {
  margin: 0;
  margin-top: -16px;
  margin-left: 29.1vw;
}
.title-3 {
  margin: 0;
  margin-top: -16px;
  font-family: "ivypresto-display", serif;
  font-weight: 400;
  font-style: italic;
  margin-left: 29.1vw;
}
.title-4 {
  margin: 0;
  margin-top: -16px;
  margin-left: 47.5vw;
}

.title-img {
  display: flex;
  width: 50vw;
  position: relative; /* Stellen Sie sicher, dass die Position relativ ist */
  z-index: 1; /* Setzen Sie eine niedrigere z-index */
}

.sofia-img {
  z-index: 1;
  position: fixed;
  top: 53vh;
  right: 100px;
  height: 25vh;
  margin-bottom: 7px;
  transform: scaleX(-1);
}

.first-line {
  margin-top: 30px;
  margin-bottom: 80px;
}

#i-am-sofia {
  position: fixed;
  right: 215px;
  top: 65vh;
  height: 100vh;
  width: 120px;
  height: 50px;
  z-index: 3;
}

.tags {
  position: absolute;
  top: 700px;
  left: 800px;
  display: flex;
  font-family: var(--roc);
  font-size: var(--fontsize-1);
  gap: 50px;
}

#some-of-my-designs {
  display: none;
  position: fixed;
  top: 55vh;
  right: 200px;
  width: 150px;
  height: 30px;
  z-index: 3;
}

#click-on-it {
  display: none;
  position: fixed;
  right: 200px;
  top: 60vh;
  height: 100vh;
  width: 140px;
  height: 30px;
  z-index: 3;
}
#about-me {
  display: none;
  position: fixed;
  right: 205px;
  top: 48vh;
  height: 100vh;
  width: 122px;
  height: 30px;
  z-index: 3;
}
#lets-connect {
  display: none;
  position: fixed;
  right: 222px;
  top: 60vh;
  height: 100vh;
  width: 140px;
  height: 18px;
  z-index: 3;
}

.title-tags {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  display: flex;
  margin-right: 20px;
}

.work-section {
  margin-bottom: 300px;
  /* border: 1px solid blue; */
}

.headline-chapter {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* margin-top: 30px;
  margin-bottom: 20px; */
}

.magazin-img {
  width: 35vw;
}

.container-img-and-text {
  margin: 1.5vw;
}

.project {
  margin-bottom: -300px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.project-text {
  text-align: end;
}

.project-right {
  margin-bottom: -150px;
  display: flex;
  justify-content: end;
  /* border: 1px solid red; */
}

.project-text-left {
  text-align: start;
}

.project-rubric {
  font-family: var(--roc);
  font-size: var(--fontsize-4);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;
}

.proect-description {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  margin: 0;
  margin-bottom: 40px;
}

.about-chapter {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container-about-text {
  display: flex;
}

.spaceholder {
  flex: 0 0 36.5vw; /* Keine Flexibilität, feste Breite von 36.5vw */
}

.about-text {
  flex: 0.7;
}

.about-text-big {
  /* width: 95%; */
  font-size: var(--fontsize-4);
}

.about-text-smal {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 20px;
}

footer {
  margin-top: 350px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: black;
}

.contact-section {
  /* border: 1px solid red; */
  margin: 0px 100px 0px 100px;
  height: 37vh;
}

.headline-chapter-white {
  color: white;
  font-family: var(--roc);
  font-size: var(--fontsize-3);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 200;
}

.contact-text {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 50px;
  font-family: var(--roc);
  font-size: var(--fontsize-1);
  font-weight: 200;
  font-style: normal;
  text-transform: lowercase;
  letter-spacing: 0;
  margin-top: 25vh;
}

.socials a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.socials a:hover {
  text-decoration: underline;
}
