:root {
  --roc: "roc-grotesk", sans-serif;
  --space: "Space Grotesk", sans-serif;

  --fontsize-1: 10px;
  --fontsize-2: 20px;
  --fontsize-3: 40px;

  --color-1: lightgray;
  --color-2: black;
  --color-3: white;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.overlay-font {
  z-index: 90;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: end;
  font-family: var(--roc);
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin: 0;
  text-transform: uppercase;
  margin: 40px 100px 40px 100px;
  animation: schriftGroesse 3s 3s forwards;
}

@keyframes schriftGroesse {
  0% {
    font-size: 60px; /* Start-Schriftgröße */
    color: white;
  }
  100% {
    font-size: 20px; /* End-Schriftgröße */
    color: black;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1); /* Startfarbe: Schwarz */
  z-index: 10; /* Stelle sicher, dass das Overlay über allen anderen Elementen liegt */
  display: none; /* Das Overlay standardmäßig ausblenden */
  animation: fadeOut 3s 4s forwards; /* Verzögere die Animation um 5 Sekunden und animiere dann den Übergang von Schwarz zu Transparent über 2 Sekunden */
}

@keyframes fadeOut {
  0% {
    background-color: rgba(0, 0, 0, 1); /* Startfarbe: Schwarz */
  }
  100% {
    background-color: rgba(0, 0, 0, 0); /* Endfarbe: Transparent */
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
header {
  margin: 0px 100px 0px 100px;
  padding: 0;
}

.navigation {
  font-family: var(--roc);
  font-size: 12px;
  text-transform: uppercase;
  gap: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  transform: rotate(-90deg);
  top: 50vh;
  left: -90px;
}

img {
  display: block;
  max-width: 100%;
}

.chapter {
  /* position: fixed; */
  /* top: 30px;
  right: 70px; */
  display: flex;
  justify-content: space-between;
  text-align: end;
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  margin: 0;
  text-transform: uppercase;
  color: white;
}

hr {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title-section {
  /* border: 1px solid red; */
  margin-bottom: 20px;
  margin: 0;
  padding: 0;
}

.title-welcome {
  /* border: 1px solid red; */
  font-family: var(--roc);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  height: 50vh;
  margin-top: 100px;
}

.title-tag-and-img {
  /* border: 5px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#i-am-sofia {
  /* display: none; */
  position: fixed;
  right: 205px;
  top: 55vh;
  height: 100vh;
  width: 120px;
  height: 50px;
  z-index: 3;
}

#some-of-my-designs {
  display: none;
  position: fixed;
  top: 55vh;
  right: 200px;
  width: 150px;
  height: 30px;
  z-index: 3;
}

#click-on-it {
  display: none;
  position: fixed;
  right: 200px;
  top: 60vh;
  height: 100vh;
  width: 140px;
  height: 30px;
  z-index: 3;
}
#about-me {
  display: none;
  position: fixed;
  right: 205px;
  top: 55vh;
  height: 100vh;
  width: 120px;
  height: 30px;
  z-index: 3;
}
#lets-connect {
  display: none;
  position: fixed;
  right: 205px;
  top: 55vh;
  height: 100vh;
  width: 130px;
  height: 15px;
  z-index: 3;
}

.title-img {
  position: fixed;
  right: 100px;
  height: 200px;
  margin-bottom: 16px;
  transform: scaleX(-1);
}

.title-tags {
  font-family: var(--roc);
  font-size: 16px;
  display: flex;
  gap: 20px;
  margin: 20px;
}

.work-section {
  margin-bottom: 300px;
  /* border: 1px solid blue; */
}

.headline-chapter {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

.magazin-img {
  width: 35vw;
}

.container-img-and-text {
  margin: 30px;
}

.project {
  margin-bottom: -300px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.project-text {
  text-align: end;
}

.project-right {
  margin-bottom: -150px;
  display: flex;
  justify-content: end;
  /* border: 1px solid red; */
}

.project-text-left {
  text-align: start;
}

.project-rubric {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
}

.proect-description {
  font-family: var(--roc);
  font-size: 16px;
  margin: 0;
  margin-bottom: 40px;
}

.about-chapter {
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container-about-text {
  display: flex;
  justify-content: start;
}

.spaceholder {
  width: 35vw;
  /* background-color: black; */
}

.about-text {
  width: 50vw;
}

.about-text-smal {
  font-family: var(--roc);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-transform: lowercase;
  letter-spacing: 0;
  width: 40vw;
}

footer {
  margin-top: 250px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: black;
  height: 260px;
}

.contact-section {
  /* border: 1px solid red; */
  margin: 0px 100px 0px 100px;
}

.headline-chapter-white {
  color: white;
  font-family: var(--roc);
  font-size: var(--fontsize-2);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 200;
}

.contact-text {
  /* border: 1px solid green; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 50px;
  font-family: var(--roc);
  font-size: 13px;
  font-weight: 200;
  font-style: normal;
  text-transform: lowercase;
  letter-spacing: 0;
  height: 170px;
}
